@inherits LayoutComponentBase
@inject IWebHostEnvironment HostEnvironment

<div>
    <ErrorProvider>
        <Layout>
            <Header>
                <div style="width: 100px; height: 31px; float: left">
                    <span style="background-color: yellow; padding: 5px">
                        @HostEnvironment.EnvironmentName
                    </span>
                </div>
                <Menu Mode="MenuMode.Horizontal">
                    <MenuItem Key="home">
                        <MenuLink Href="/">Home</MenuLink>
                    </MenuItem>
                    <MenuItem Key="todo">
                        <MenuLink Href="/todo">Todo</MenuLink>
                    </MenuItem>
                </Menu>
            </Header>
            <Content>
                <div style="width: 100%; padding-left: 50px; padding-right: 50px; padding-top: 20px;">
                    @Body
                </div>
            </Content>
            <Footer>
                Footer
            </Footer>
        </Layout>
    </ErrorProvider>
</div>


@code {

}