@page "/todo"
@using MinimalApi.Domain.Todo.Models
@inject ModalService ModalService

<PageTitle>Todo</PageTitle>

<h3>Todo (@_todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in _todos)
    {
    <li>
        <input type="checkbox" @bind="todo.IsDone" />
        <input @bind="todo.Title" />
    </li>
    }
</ul>

<input placeholder="Something todo" @bind="_newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
private readonly List<TodoItem> _todos = [];

private string? _newTodo;

private async Task AddTodo()
{
if (string.IsNullOrWhiteSpace(_newTodo)) return;

await ModalService.ErrorAsync(new ConfirmOptions
{
Title = "Add Todo",
Content = _newTodo,
Style = "width: 80%; max-width: 800px;"
});

_todos.Add(new TodoItem { Title = _newTodo });
_newTodo = string.Empty;
}
}